* {
    user-select: none;
}

img {
    pointer-events: none;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#header, #bottom-menu {
    z-index: 500;
}

#map {
    flex: 1 1 auto;
    background-image: url('./media/images/space.jpg');
    background-repeat: repeat;
    overflow: hidden;
}

#header {
    background-color: cadetblue;
}

#bottom-menu {
    display: flex;
    background-color: grey;
    justify-content: space-evenly;
    overflow: visible;
}

.bottom-tab {
    background-color: antiquewhite;
    margin-left: .4rem;
    margin-right: .4rem;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
    border-color: darkgray;
    border-width: .2rem;
    border-bottom: 0;
    align-self: flex-end;
    height: 90%;
}

.bottom-tab-extra-1, .bottom-tab-extra-2 {
    display: none;
}

.bottom-tab-selected {
    background-color: aquamarine;
    height: 130%;    
}

[class*='bottom-tab']:hover {
    background-color: cadetblue;
    height: 130%;
}

[class*='bottom-tab']:active {
    background-color: aquamarine;
}

.animate {
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

.transition {
    transition-property: all;
    transition-duration: .2s;
}

@media only screen and (min-width: 600px)
{
    .bottom-tab-extra-1 { display: block; }
    .menu-body { top: auto; left: auto; width: auto; height: auto; }
}

@media only screen and (min-width: 768px)
{
    .bottom-tab-extra-2 { display: block; }
}

/* Menu */

.menu-header {
    height: 2rem;
    z-index: 10;
    display: flex;
    font-weight: bold;
    align-items: center;
}

.menu-header-start {
    width: 1rem;
    height: 100%;
    cursor: move;
}

.menu-header-title {
    padding-left: .3rem;
    flex: 1 1 auto;
    cursor: move;
}

.menu-close-button {
    border: none;
    width: 3rem;
    height: 100%;
}

.menu-body {
    position: absolute;
    background-color: antiquewhite;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    border-width: .1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.menu-content {
    border-width: 1rem;
    border-style: solid;
    border-image-slice: 32 32 32 32 fill;
    border-image-width: 1rem;
    flex: 1 1 auto;
}

/* Menu animations */

.menu-body.show {
    animation-name: popup;
}

.menu-body.hide {
    animation-name: popup;
    animation-direction: reverse;
}

@keyframes popup {
    from { transform: scale(.9,.9); opacity: 0; }
    to { transform: scale(1,1); opacity: 1; }
}

/* Menu themes */

.theme-kagurasuzu .menu-header {
    background-image: url('./media/images/menu/kagurasuzu_header.png');
}

.theme-kagurasuzu .menu-header-start {
    background-image: url('./media/images/menu/kagurasuzu_header_start.png');
}

.theme-kagurasuzu .menu-content {
    color: white;
    border-image-source: url('./media/images/menu/kagurasuzu_window.png');
}

.theme-kagurasuzu .menu-close-button {
    background-color: #fbf236;
    background-image: url('./media/images/menu/kagurasuzu_close.png');
}

.theme-kagurasuzu .menu-close-button:hover {
    background-color: #287262;
}

.theme-kagurasuzu .menu-close-button:active {
    background-color: red;
}