<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
    <div id="header">
      <nav>
	    <li class="navbutton"><a href="/index.html">Home</a></li>
	    <li class="navbutton"><a href="/AKFurniture.html">Arknights Furniture</a></li>  
      </nav>
	  <nav id="smallnav">
	    <li class="navbutton" style="float: right;"><a href="javascript:void(0);" class="dropmenu">&#9776;</a>
	  </nav>
    </div>

    <div class="wrapper">
      <section>
        <div id="title">
          <h1>
		    <image src="assets/images/yuno.png" width="50" height="50" style="margin-right: 5px" alt="Icon">
		    {{ page.title }}
		  </h1>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

        {{ content }}

      </section>
    </div>
  </body>
</html>
